*{
    margin: 0;
    padding: 0;
}
.div1{
    background-image: url(https://images.wallpaperscraft.ru/image/single/zelenyj_fon_piatna_85527_1920x1080.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
h2{
    text-align: center;
    padding-bottom: 80px;
}

.div2{
    border: 1px solid white;
    border-radius: 5px;
    height: 600px;
    width: 500px;
    background-color: white;
    margin-left: 32%;
}
.no{
    margin-left: 30px;
}
label{
    font-size: large;
}
input{
    width: 420px;
    height: 30px;
    margin-left: 20px;
    padding-right: 20px;
}
textarea{
    margin-left: 20px;
    padding-right: 20px;
}
.text{
    margin-left: 20px;
    font-size: large;
}
button{
    height: 30px;
    width: 300px;
    text-align: center;
    margin-top: 30px;
    margin-left: 90px;
    font-weight: bold;
    background-color: rgb(133, 132, 172);
    border-radius: 5px;
}
